App {
	text-align: center;
  }

  *{
    margin: 5;
    padding: 0;
    font-family: Courier, monospace
  }
  
  .form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }
  
  .form input {
  width : 350px;
  height: 60px;
  margin: 10px;
  }

    /* HILLTALK logo on top left corner  */
    h1 {
      font-family: "Lucida Console";
      text-align: left;
      font-size: 35px;
      padding: 0px 12px;
      margin-right: 12px;
      color:rgb(39, 116, 174);
    }
    
    header {
      display: flex;
      align-items: center;
      padding: 1% 2%;
      color:rgb(39, 116, 174);
    }

  /* FORMATTING NAVIGATION LINKS*/
  /* FORMATTING NAVIGATION LINKS*/
  nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }
  
  .nav-links {
    text-align: right;
  }
  
  .nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
  }
  
  .nav-links ul li a {
    color:rgb(39, 116, 174);
    text-decoration: none;
    font-size: 18px;
    font-style: italic;
  }
  
  .nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #030201;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  
  .nav-links ul li:hover::after {
    width: 100%;
  }

  .loginReg{
    color: white !important;
    padding: 10px;
    border: 3px rgb(15, 58, 91);
    border-style: solid;
    background-color: rgb(39, 116, 174);
  }

  .loginReg:hover {
    background-color: rgb(29, 100, 155);
    color: rgb(35, 101, 151);
    transition: 0.5s;
  }
  /* FORMATTING NAVIGATION LINKS*/
  /* FORMATTING NAVIGATION LINKS*/

  /* FORMATTING MAP ON FRONT PAGE*/
  .map{
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  width: 41%;
	  border: 5px solid rgb(39, 116, 174);

  }
  
  body {
	text-align: center;
  background-color: rgb(255, 255, 255);
  }

  /* formatting the main picture on each page  */
 /* formatting the main picture on each page  */
  .DiningHallCover{
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  width: 30%;
	border: 5px solid rgb(39, 116, 174);
  }
  
  .DormsCover{
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  width: 40%;
	border: 5px solid rgb(39, 116, 174);
  }
  
  .RecCenterCover{
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  width: 43%;
	border: 5px solid rgb(39, 116, 174);
  }
  /* formatting the main picture on each page  */
  /* formatting the main picture on each page  */
  
  /*formatting pictures of each dorm*/
  /*formatting pictures of each dorm*/
  .CentennialOlympic{
	  border: 5px solid rgb(39, 116, 174);
  }
  .DeNeveDorms{
    border: 5px solid rgb(39, 116, 174);
  }
  .HollyGardenia{
    border: 5px solid rgb(39, 116, 174);
  }
  .HSummit{
    border: 5px solid rgb(39, 116, 174);
  }

  .Dykstra{
    border: 5px solid rgb(39, 116, 174);
    width: 22%;
  }

  .HedrickPic{
    border: 5px solid rgb(39, 116, 174);
  }

  .HitchSuitesPics{
    border: 5px solid rgb(39, 116, 174);
    width: 23%;
  }

  .rieberHall{
    border: 5px solid rgb(39, 116, 174);
    width: 25%;
  }

  .RieberTerraceVista{
    border: 5px solid rgb(39, 116, 174);
    width: 25%;
  }
  /*formatting pictures of each dorm*/
  /*formatting pictures of each dorm*/

  /*formatting pictures of each dining hall*/
  /*formatting pictures of each dining hall*/

  .RendeWest{
    border: 5px solid rgb(39, 116, 174);
    width: 22%;
  }

  .RendeEast{
    border: 5px solid rgb(39, 116, 174);
    width: 17%;
  }

  .DeNeveDH{
    border: 5px solid rgb(39, 116, 174);
    width: 20%;
  }

  .Epicuria{
    border: 5px solid rgb(39, 116, 174);
    width: 20%;

  }

  .Bplate{
    border: 5px solid rgb(39, 116, 174);
    width: 20%;

  }

  .TheStudy{
    border: 5px solid rgb(39, 116, 174);
  }

  .BCafe{
    border: 5px solid rgb(39, 116, 174);
    width: 20%;
  }

  .BruinBowl{
    border: 5px solid rgb(39, 116, 174);
    width: 22%;

  }

  .FEAST{
    border: 5px solid rgb(39, 116, 174);
  }

  .Drey{
    border: 5px solid rgb(39, 116, 174);
    width: 20%;
  }

  .SunsetVillage{
    border: 5px solid rgb(39, 116, 174);
    /* width: 20%; */
  }

  .SproulHall{
    border: 5px solid rgb(39, 116, 174);
    /* width: 20%; */
  }

  .CoveLanding{
    border: 5px solid rgb(39, 116, 174);
    /* width: 20%; */
  }

  .Saxon{
    border: 5px solid rgb(39, 116, 174);
    /* width: 20%; */
  }
  /*formatting pictures of each dining hall*/
  /*formatting pictures of each dining hall*/

  /*formatting pictures of each Rec center*/
  /*formatting pictures of each Rec center*/
  
  .JWC{
    border: 5px solid rgb(39, 116, 174);
    width: 23%;
  }

  .BFIT{
    border: 5px solid rgb(39, 116, 174);
    width: 23%;
  }

  .SUNSETREC{
    border: 5px solid rgb(39, 116, 174);
    width: 20%;

  }

  .HITCHBB{
    border: 5px solid rgb(39, 116, 174);
    width: 26%;
  }

  .IMFIELD{
    border: 5px solid rgb(39, 116, 174);
    width: 23%;
  }


  /*formatting pictures of each Rec center*/
  /*formatting pictures of each Rec center*/

/*formatting sort buttons*/
/*formatting sort buttons*/
.btn-primary{
  display: inline-block;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  font-size: 13px;
  padding: 6px 10px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.btn-primary:hover{
  border: 1px solid #040404;
  background: rgba(58, 147, 215, 0.58);
  transition: .6s;
}
/*formatting sort buttons*/
/*formatting sort buttons*/

.ReviewBox{
	border: 2px solid rgb(39, 116, 174);
	margin-right: 10px;
  width: 725px;
  text-align: left;
  }

  .RatingBox{
	width: 40px;
	border: 2px solid rgb(39, 116, 174);
	margin-right: 10px;
  }

.loginBox{
	border: 2px solid rgb(39, 116, 174);
	margin-right: 10px;
  width: 250px;
  text-align: left;
  margin-bottom: 5px;
}

.thumbsup{
	font-size: 20px;
	margin: 4px;
	border: 2px solid #51c86b;
}

.thumbsup:hover{
  background-color: #81ca91;
  color: white;
}

.thumbsdown{
	font-size: 20px;
	margin: 4px;
	border: 2px solid #cf3131;
}

.thumbsdown:hover{
  background-color: #ee9797;
  color: white;
}

.eachReview{
  border: 2px solid rgb(39, 116, 174);
  background-color: rgba(152, 210, 255, 0.568);
  border-radius: 25px;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 18px;
  margin-bottom: 18px;
  padding-bottom: 10px;
}

.form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* height: 100vh; */
  }
  
  .input-group-horiz {
	display: flex;
	flex-direction: row;
	margin-left: 10px;
	margin-right: 5px;
  }

  .no-margin{
	margin: 10px;
  color: rgb(39, 116, 174);
  }

  .RevTitles{
    color: rgb(29, 92, 141);
  }

  /* buttons adding and sorting reviews */

  .rev-button{
	margin: 10px;
	height: 20px;
  }

  .SearchResults{
    border: 2px solid #555;
    margin-left: 275px;
    margin-right: 275px;
  }

  .searchBox{
    border: 2px solid #555;
    margin-left: 275px;
    margin-right: 275px;
  }
  

  .rev-button {
    width: 150px;
    height: 30px;
    border: 2px solid black;
    outline: none;
    color: #000000;
    background: rgb(127, 127, 127);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.rev-button:before {
    content: '';
    background: linear-gradient(45deg, #030000, #fafafa, #030000, #fafafa, #030000, #fafafa, #030000, #030000, #030000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.rev-button:active {
    color: rgb(255, 255, 255)
}

.rev-button:active:after {
    background: transparent;
}

.rev-button:hover:before {
    opacity: 1;
}

.rev-button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fdfcfc;
    left: 0;
    top: 0;
    border-radius: 10px;
}
/* glowing animation around border */
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.background-img{
  background-image: url(https://cdn2.lamag.com/wp-content/uploads/sites/6/2022/09/UCLA.jpg);
  background-size:cover;
  height: 600px;
  position: relative;
  filter: blur(2px)
}

h5{
  font-family: "Lucida Console";
	text-align: center;
	font-size: 60px;
	padding: 0px 12px;
}

.ContactBox{
	border: 2px solid #000000;
	margin: 10px;
  width: 425px;
  text-align: left;
  }

.ContactText{
	  margin: 150px;
    color:#000000;
    font-weight: bold;
    font-size:30px;
    /* background-color: #fafafa; */
    background-color: rgba(255, 255, 255, 0.5);
    /* text-shadow: -2px -2px 1px #000, 2px -2px 1px #000, -2px 2px 1px #000, 2px 2px 1px #000; */
    margin-top: 200px;
    text-align: center;
}

  h3{
    color:rgb(39, 116, 174);
  }

  .blueText{
    color: rgb(39, 116, 174);
  }

  .specialBlueText{
    color: rgb(17, 72, 114);
    font-weight: bold;
    font-size: 18px;
  }

  .blueBackground{
    background-color: rgba(146, 208, 255, 0.673);
  }

  .introText{
    padding-top: 15px;
  }
  .loginText{
    font-size: 20px;
  }

/*FORMATTING RATINGS OF CATEGORIES NEXT TO DINING HALLS*/
/*FORMATTING RATINGS OF CATEGORIES NEXT TO DINING HALLS*/
.flex-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}
.rating-section {
  margin-left: 20px;
  border: 2px solid rgb(39, 116, 174);
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
.rating {
  margin-bottom: 5px;
}
/*FORMATTING RATINGS OF CATEGORIES NEXT TO DINING HALLS*/
/*FORMATTING RATINGS OF CATEGORIES NEXT TO DINING HALLS*/